.bg-image{
    background-image: url('https://resize.indiatvnews.com/en/resize/newbucket/730_-/2021/04/online-1617947180.jpg');
    background-size: cover;
}
.card-img{
    height:60vh;
}
.btn-border{
    width: 250px;
    margin-left: 540px;
}
.card-center{
    text-align: center;
}
h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: blueviolet;
font-style: oblique;
}
.carousel-image{
    height: 91vh;
}
.embed-video{
    height: 91vh;
}
.childcontainer{
    background-color: white;
    padding: 5px;
    margin: 10px;
}
.childimage{
    height: 100px;
    width:100px;
}
.image-top{
    margin-top: -15px;
}