.div1{
    height: 200px;
    background-color: pink;
    color: black;
    text-align: justify;
    font-size: xx-large;
    font-weight: bold;
}
.div2{
    height: 200px;
    color: white;
    text-align: justify;
    font-size: xx-large;
    font-weight: bold;
}