.imgSize{
    height: 400px;
    width: 400px;
}
button{
   background-color: #1f2933;
   color: white; 
}
p{
    color: #7b8794;
    }
.border-line{
    border-color: white;
}
button{
    border: 3px solid ;
    border-radius: 50%;
    border: none;
}
.iconSize{
    color: #7b8794;
}