.bg-image{
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 81vh;
}
.align-center{
    text-align: center;
  padding: 22rem;
  color: white;
  font-weight: bold;
}